@import "tailwindcss";
@import "tw-animate-css";

@layer base {
  /* Add your base styles here */
  /* styling base element html etc h1, h2, p, dsb */

  html {
    min-height: 100vh;
    font-family: "Poppins";
    background-color: #dae1e9;
    color: white;
  }

  #Screen {
    -webkit-mask-image: url(/assets/images/backgrounds/screen.svg);
    mask-image: url(/assets/images/backgrounds/screen.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center top;
    mask-position: center top;
    -webkit-mask-mode: alpha;
    mask-mode: alpha;
  }

  .background-yellow {
    background-color: #eeff06;
  }

  .text-premiere-black {
    color: #010101;
  }
  .text-premiere-grey {
    color: #908e8e;
  }
  .text-premiere-gree {
    color: #009421;
  }
  .text-premiere-light-green {
    color: #d5ffde;
  }
  .text-premiere-red {
    color: #ff2149;
  }
  .text-premiere-light-red {
    color: #ffdee4;
  }
  .text-premiere-yellow {
    color: #e7a436;
  }
  .text-premiere-purple {
    color: #5236ff;
  }
}

@layer components {
  /* Add your component styles here */
  /* styling component etc buttons, cards, modals, dsb */
  .btn-primary {
    @apply bg-primary text-primary-foreground px-4 py-2 rounded-md;
  }
}

@layer utilities {
  /* Add your utility styles here */
  /* styling utility classes for margin, padding, flex, grid, dsb */
  .text-balance {
    text-wrap: balance;
  }
}

@theme inline {
  /* styling for theme variables with tailwind or css globals */
  --text-premiere-black: (var(--color-premiere-black));
  --text-premiere-grey: (var(--color-premiere-grey));
  --text-premiere-green: (var(--color-premiere-green));
  --text-premiere-light-green: (var(--color-premiere-light-green));
  --text-premiere-red: (var(--color-premiere-red));
  --text-premiere-light-red: (var(--color-premiere-light-red));
  --text-premiere-yellow: (var(--color-premiere-yellow));
  --text-premiere-purple: (var(--color-premiere-purple));
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  /* styling for light theme variables */
  --color-premiere-black: #010101;
  --color-premiere-grey: #908e8e;
  --color-premiere-green: #009421;
  --color-premiere-light-green: #d5ffde;
  --color-premiere-red: #ff2149;
  --color-premiere-light-red: #ffdee4;
  --color-premiere-yellow: #e7a436;
  --color-premiere-purple: #5236ff;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  /* styling for dark theme variables */
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}
